.site-choice {
  position: relative;
  margin: 160px 0 147px 0;
}
.site-choice__list {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.site-choice__img {
  position: relative;
  margin-bottom: 16px;
  z-index: 100;
}
.site-choice__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: var(--main-title-color);
}
.site-choice__text {
  width: 320px;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: var(--main-text-color);
}
.site-choice__pic {
  position: absolute;
  left: 0px;
  top: 44px;
  z-index: 1;
}